<div class="topPadding">
    <div class="container">
        <!-- In progress-->
        <div class="row">
            <div class="col-md-2 side-divs-visibility"></div>
            <div class="col-md-2 side-divs-inner-visibility">
              <button class="btn btn-default back-button" routerLink="/login"><i class="fa fa-arrow-left"></i></button>
            </div>
            <div class="col-md-4">
                <h1 id="calendarTitle">{{ title }}</h1>
            </div>
            <div class="col-md-2 side-divs-inner-visibility"></div>
            <div class="col-md-2 side-divs-visibility"></div>
        </div>
      
        <div class="row">
            <div class="col-md-2 side-divs-visibility"></div>
            <div class="col-md-8">
                <h2>Registration</h2>
                <form (ngSubmit)="onRegister()">
                    <div class="form-group">
                        <label>Email</label>
                        <input [(ngModel)]="currentUser.Email" placeholder="email" name="Email" type="email" class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && (currentUser.Email.length == 0) }"    />
                        <div *ngIf="submitted && (currentUser.Email.length == 0)" class="invalid-response">User email is required.</div>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input [(ngModel)]="currentUser.EnteredPassword" placeholder="password" name="EnteredPassword" type="password" class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && (currentUser.EnteredPassword.length == 0) }"    />
                        <div *ngIf="submitted && (currentUser.EnteredPassword.length == 0)" class="invalid-response">User password is required.</div>
                    </div>

                    <div class="form-group">
                        <label>Repetead Password</label>
                        <input [(ngModel)]="currentUser.RepeteadPassword" name="RepeteadPassword" type="password" placeholder="repetead password" class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && (currentUser.RepeteadPassword.length == 0) }"    />
                        <div *ngIf="submitted && (currentUser.RepeteadPassword.length == 0)" class="invalid-response">Repetead password is required.</div>
                    </div>

                    <div class="form-group">
                        <label>First name</label>
                        <input [(ngModel)]="currentUser.FirstName" name="FirstName" placeholder="optional" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input [(ngModel)]="currentUser.LastName" name="LastName" placeholder="optional" type="text" class="form-control" />
                    </div>
                    
                    <div class="form-group">
                        <label>Date of birth</label>
                        <input [(ngModel)]="currentUser.DateOfBirth" name="DateOfBirth" placeholder="optional" type="date" class="form-control" />
                    </div>
                    <button id="registerBtn" class="btn btn-primary">Register me</button>
                </form>
                
                <div *ngIf="registratitonFailed" id="incorrectInputContainer" class="alert alert-danger">{{ RegistrationFailedMessage }}</div>

                <hr />
                
                <div id="schedullingIconsContainer" class="row">
                    <img src="../assets/images/calendar_clock_icon.svg" class="col-xs-4 col-md-4 col-sm-4 schedulling-icons" />
                    <img src="../assets/images/todo_list_icon.svg" class="col-xs-4 col-md-4 col-sm-4 schedulling-icons" />
                    <img src="../assets/images/pencil_icon.svg" class="col-xs-4 col-md-4 col-sm-4 schedulling-icons" />
                </div>

            </div>
            <div class="col-md-2 side-divs-visibility"></div>
        </div>
    </div>
</div>
