
<div class="topPadding">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="calendarTitle">{{ title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Login</h2>
            <form (ngSubmit)="onLogin()">
              <div class="form-group">
                <label>User email</label>
                <input [(ngModel)]="currentUser.Email" name="Email" type="email" class="form-control" 
                       [ngClass]="{ 'is-invalid': submitted && (currentUser.Email.length == 0) }"    />
                <div *ngIf="submitted && (currentUser.Email.length == 0)" class="invalid-response">User email is required.</div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input [(ngModel)]="currentUser.EnteredPassword" type="password" name="EnteredPassword" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && (currentUser.EnteredPassword.length == 0) }"  />
                <div *ngIf="submitted && (currentUser.EnteredPassword.length == 0)" class="invalid-response">User password is required.</div>
              </div>
              <button (focusout)="onLoginFocusOut()" id="loginBtn" class="btn btn-primary">Login</button>
              <button  type="button" id="registerBtn" routerLink="/register" class="btn btn-secondary">Register</button>
              <img id="loaderIcon" src="../assets/images/loader.svg" class="pull-right" [ngStyle]="{'visibility': isLoaderIconVisible ? 'visible' : 'hidden'}" />
            </form>

            <div *ngIf="emailOrPasswordIncorrect" id="incorrectInputContainer" class="alert alert-danger">{{ LoginFailedMessage }}</div>

            <hr />
            
            <div id="schedullingIconsContainer" class="row">
                <img src="../assets/images/calendar_clock_icon.svg" class="col-xs-4 col-md-4 col-sm-4 schedulling-icons" />
                <img src="../assets/images/todo_list_icon.svg" class="col-xs-4 col-md-4 col-sm-4 schedulling-icons" />
                <img src="../assets/images/pencil_icon.svg" class="col-xs-4 col-md-4 col-sm-4 schedulling-icons" />
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
