
#schedullingIconsContainer {
    height: 100px;
}

.back-button {
    background-color: transparent;
}

#backBtnArrow {
    color: #039be5;
}

#incorrectInputContainer {
    margin-top: 2%;
}

.side-divs-visibility {
    visibility: hidden;
}

 /* Button danger color = #dc3545 */
 .invalid-response {
    color: #dc3545; 
}

.inner-title-div {
    max-width: 33.333%;
}

.side-divs-inner-visibility {
    max-width: 16.667%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 767px) {
    .side-divs-visibility {
        visibility: visible;
    }
}

@media (min-width: 770px) {
    .back-button {
        visibility: visible;
    }
    .back-button::after {
        content: ' Login';
    }
}

.schedulling-icons {
    height: 50px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .schedulling-icons {
        height: 30px;
        width: 33%;;
    }
}